.container-error{
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: white;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: none;
}
.container-text-error{
    margin-top: -60px;
}
.container-text-error p {
    font-size: 20px;
    font-weight: 400;
    color: #161616;
    line-height: 30px;
    letter-spacing: 10px;

}
.iconError{
    height: 400px;
    margin-top: -50px;
}
.titleError {
    font-family: poppins;
    font-size: 26px;
    font-weight: 600;
}
.backsoon{
    color: #161616;
    font-family: poppins;
    font-weight: 800;
    font-size: 44px;
}